@media screen {
    // Sidebar
.sidebar {
    position: fixed;
    height: 100%;
    background-color: #31475a;
}

.mainContent {
    margin-left: 17%;
}

.btn {
    width: 127px;
    padding: 10px;
}

.navWrapper {
    position: relative;
}

.logo {
    padding: 5px;
    color: #a5b6c3;
}

.accordion-heading {
    padding: 5px;
}

.accordion-heading a {
    padding: 5px;
    color: #a5b6c3;
    font-size: 20px;
    font-weight: 600;
}

.accordion-body {
    color: #a5b6c3;
}

.accordion-body {
    color: white;
    background-color: rgb(140, 161, 179);
}

.filter {
    font-size: 16px;
}

.filterItem {
    padding: 5px;
}

.filterText {
    display: inline-block;
}

.addedFilters {
    color: black;
    background-color: rgb(162, 200, 171);
}

.fa-minus {
    color: rgb(181, 40, 40);
}

.fa-plus {
    color: rgb(20, 115, 20);
}

.navBox {
    padding: 8px;
    border-radius: 3px;
    color: white;
}

.navHeading {
    padding: 5px;
    color: #a5b6c3;
    font-size: 20px;
    font-weight: 600;
}
}
