<div class="container-fluid">
  <div class="row">


      <div class="col-sm-3 col-md-2 sidebar">
        <div class="navWrapper">
          <h1 class="logo">National Circuit Court Report Generator</h1>
           <label> Report Title: 
          <input type="text" name="input" ng-model="main.model.reportTitle" required ng-trim="false">
          </label>
          <div class="printButton">
            <button class="btn btn-info" ng-click="main.action.printFunction()"><i class="fa fa-print"></i> Print</button>
          </div>

         

          <div class="filter-box">
          <h5 class="filter-text">Filters</h5>
            <ul>
              <li class="" ng-repeat="(key, value) in main.model.tables.table.data"><button class="btn btn-warning" ng-click="main.action.updateState(key)"><i class="fa fa-plus"></i> {{key}}</button></li>

            </ul>
          </div>

          <div class="chart-generator">
              <h5 class="filter-text">Charts</h5>
              <button ng-click="main.action.addState(pie)" class="btn btn-danger">Pie Chart</button>
              <button ng-click="main.action.addState(bar)" class="btn btn-danger">Bar Chart</button>
          </div>

        </div>
      </div>
      <main class="mainContent col-md-9 col-sm-10">
        <h2 class="sub-header">{{main.model.reportTitle}}</h2>

        <div class="table-responsive">
          <table class="table table-striped" ng-repeat="tables in main.model.tables">
            <thead>
              <tr>
                <th>Nature of Proceeding</th>
                <th>Number Commenced</th>
                <th>Percent of Total Commenced</th>
                <th>Number Terminated</th>
                <th>Percent of Total Terminated</th>
                <th>Number Pending</th>
                <th>Percent of Total Pending</th>
              </tr>
            </thead>
            <tbody ng-repeat="(key, values) in tables.data">
              <tr ng-if="main.action.checkState(key)">
                <td>{{key}}</td>
                <td ng-repeat-start="value in values">{{value.number}}</td>
                <td ng-repeat-end="value in values">{{value.percent_of_total}}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- start of chart -->
        <h2 class="sub-header">Charts</h2>
        <div ng-if="main.action.chartShow(pieChart)">
          <h4> Total Numbers Chart </h4>
          <chart value="main.model.chart"></chart>
        </div>



<!--
        <div class="table-responsive">
          <table class="table table-striped" ng-repeat="tables in main.model.tables">
            <thead>
              <tr>
                <th>Nature of Proceeding</th>
                <th>Number Commenced</th>
                <th>Percent of Total Commenced</th>
                <th>Number Terminated</th>
                <th>Percent of Total Terminated</th>
                <th>Number Pending</th>
                <th>Percent of Total Pending</th>
              </tr>
            </thead>
            <tbody ng-repeat="(key, values) in tables.data">
              <tr>
               
              </tr>
            </tbody>
          </table>
        </div> -->
      </main>

  </div>
</div>
